.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

//project
.projects{
	&__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
	}
	@media (max-width: 767px) {
		&__wrap {
			grid-template-columns: 1fr;
		}
	}
	&__item {
		cursor: pointer;
		position: relative;
		img {
			border-radius: 20px;
		}
		a {
			color: #fff;
			text-transform: uppercase;
		}
	}

	&__btn{
		max-width: 250px;
		margin:10px auto;
	}


	&__subtitle {
		text-align: center;
		margin: 50px 0;
	}
	&__item,
	&__overlay {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(52, 84, 122, 0.8);
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: 0.2s;
		border-radius: 20px;
		&:hover {
			opacity: 1;
		}
	}
	@media (max-width: 769px) {
		.projects {
			grid-template-columns: repeat(2, 1fr);
		}
		.projects__subtitle {
			margin: 20px 0;
		}
	}
}

//header 
.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}
.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  cursor: pointer;
}
.header__logo p {
  font-size: 45px;
  color: #34547a;
  font-family: Reggae One, cursive;
}
@media (max-width: 425px) {
  .header__logo p {
    font-size: 35px;
  }
}
.header__burger {
  display: none;
}
.header__nav {
  margin-right: 13px;
}
.header__link {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.header__link:hover {
  background: rgba(52, 83, 122, 0.2823529411764706);
}
.header__link:not(:last-child) {
  margin-right: 38px;
}
.header.sticky {
  background: #eeeff1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
}
@media (max-width: 992px) {
  .header .header__box {
    padding: 0;
  }
  .header .header__link:not(:last-child) {
    margin-right: 25px;
    margin-right: 20px;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .header .header__burger {
    position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 10px;
  }
  .header .header__burger span,
  .header .header__burger span:after,
  .header .header__burger span:before {
    height: 4px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }
  .header .header__burger span {
    top: 5px;
    transition: 0.5s;
  }
  .header .header__burger span:after,
  .header .header__burger span:before {
    content: "";
    transition: 0.4s;
  }
  .header .header__burger span:after {
    bottom: -10px;
  }
  .header .header__burger span:before {
    top: 20px;
  }
  .header .header__burger.active span {
    transform: rotate(-45deg);
    background: #fff;
  }
  .header .header__burger.active span:before {
    transform: rotate(90deg);
    top: 0;
    transition: 0.4s;
    background: #fff;
  }
  .header .header__burger.active span:after {
    opacity: 0;
  }
  .header .header__nav {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
  }
  .header .header__nav,
  .header .header__nav.active {
    padding: 30px;
    align-items: center;
    flex-direction: column;
  }
  .header .header__nav.active {
    overflow: auto;
    background: #34547a;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__nav.active a {
    color: #fff;
  }
  .header .header__link:not(:last-child) {
    margin-right: 0;
  }
}